<div class="container-fluid">
  <div class="row">
    <div class="row__img col-md-6 align-self-center">
      <img src="../../assets/img/logo.jpg" alt="voto_2024" class="img-fluid" style="max-width: 100%;">
    </div>
    <div class="col-md-6 align-self-center">
      <h1 class="text-center mb-4">Iniciar Sesión</h1>
      <form (submit)="onSubmit()" method="post">
        <div class="input-group mb-3">
          <label for="cedula" class="input-group-text"><fa-icon [icon]="faIdCard" /></label>
          <input type="text" class="form-control" id="cedula" name="cedula" placeholder="Ingrese su cédula" [(ngModel)]="cedula">
        </div>
        <div class="input-group mb-4">
          <label for="contrasena" class="input-group-text"><fa-icon [icon]="faLock" /></label>
          <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Ingrese su contraseña" [(ngModel)]="contrasena">
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-3">Ingresar</button>

        <p class="sin-cuenta">¿No tienes cuenta?<span class="registrate-aqui" routerLink="register"> Regístrate aquí.</span></p>
      </form>
    </div>
  </div>
</div>