<nav class="navbar navbar-expand-lg bg-primary fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <label class="navbar-brand">{{ userData.name }}</label>
  </div>
</nav>

<!-- Botones Tabs se Consultas y Mi Lista -->
<div class="row fixed-bottom">
  <div class="col">
    <ul class="nav nav-pills" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-consultas-tab" data-bs-toggle="pill" data-bs-target="#pills-consultas"
          type="button" role="tab" aria-controls="pills-consultas" aria-selected="true"><fa-icon
            [icon]="faSearch" />Consultas</button>
      </li>
      <li class="nav-item" role="presentation">
        <button (click)="obtenerSimpatizantes()" class="nav-link" id="pills-lista-tab" data-bs-toggle="pill"
          data-bs-target="#pills-lista" type="button" role="tab" aria-controls="pills-lista"
          aria-selected="false"><fa-icon [icon]="faList" />Mi Lista</button>
      </li>
    </ul>
  </div>
</div>


<div class="tab-content" id="pills-tabContent">

  <!-- Panel de Consultas por Cedula -->
  <div class="tab-pane fade show active" id="pills-consultas" role="tabpanel" aria-labelledby="pills-consultas-tab"
    tabindex="0">
    <h2>Consulta de Cédula</h2>
    <p class="mb-3">Ingrese el número de cédula para realizar la búsqueda:</p>
    <div class="mb-3">
      <input type="text" class="form-control mb-3" placeholder="Ejemplo: 0-000-000" aria-label="Número de cédula"
        aria-describedby="basic-addon2">
      <button class="btn btn-primary mb-1" type="button">Buscar</button>
      <button class="btn btn-outline-primary" type="button" (click)="cerrarSession()">Cerrar Sesion</button>
    </div>
  </div>

  <!-- Panel de Lista de Simpatizantes -->
  <div class="tab-pane fade" id="pills-lista" role="tabpanel" aria-labelledby="pills-lista-tab" tabindex="0">
    <h2>Lista de Simpatizantes</h2>
    <ul class="list-group">
      @if(listaSimpatizantes.length > 0) {
      @for (simpatizante of listaSimpatizantes; track simpatizante) {
      <li class="list-group-item">
        <img src="../../assets/img/logo.jpg">
        <div>
          <p class="nombre_completo">{{ simpatizante.nombre_completo }}</p>
          <p>{{ simpatizante.cedula }}</p>
          <p class="centro_votacion">{{ simpatizante.centro_votacion }}</p>
        </div>
      </li>
      }
      }

    </ul>
  </div>

</div>