<app-navbar></app-navbar>
<app-navigation></app-navigation>

<div class="container">
  <div class="container__section">
    <div class="logo__app">
      <img src="../../assets/img/logo.jpg" class="img-fluid rounded-circle" alt="foto-votoapp">
    </div>
    <div class="search__section">
      <div class="title">
        <h2>Consulta de Cédula</h2>
      </div>
      <div class="search">
        <p>Ingrese el número de cédula para realizar la búsqueda:</p>
        <div>
          <input type="text" class="form-control mb-3" placeholder="Ejemplo: 0-000-000" aria-label="Número de cédula" aria-describedby="basic-addon2" [(ngModel)]="cedula">
          <button class="btn btn-primary w-100" type="button" (click)="buscarPersona()">Buscar</button>
        </div>
      </div>
    </div>
  </div>
</div>
