<!-- 
<div class="contenedor">
    <section class="section-img">
        <img src="../../assets/img/logo.jpg" alt="voto_2024">
    </section>
    <section class="form-container">
        <h1 class="text-center mb-4">Registrarse</h1>
        <form action="" method="POST">
            <div class="input-group mb-3">
                <label for="nombre" class="input-group-text"><fa-icon [icon]="faUser"/></label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre">
            </div>
            <div class="input-group mb-3">
                <label for="cedula" class="input-group-text"><fa-icon [icon]="faIdCard"/></label>
                <input type="text" class="form-control" id="cedula" name="cedula" placeholder="Ingrese su cédula">
            </div>
            <div class="input-group mb-3">
                <label for="telefono" class="input-group-text"><fa-icon [icon]="faPhone"/></label>
                <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Ingrese su teléfono">
            </div>
            <div class="input-group mb-4">
                <label for="contrasena" class="input-group-text"><fa-icon [icon]="faLock"/></label>
                <input type="password" class="form-control" id="contrasena" name="contrasena"placeholder="Ingrese su contraseña">
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-3" routerLink="home">Siguiente</button>

            <p class="sin-cuenta">Ya tienes cuenta?<span class="registrate-aqui" routerLink="login"> Ingresa aquí.</span></p>
        </form>
    </section>
</div>
-->
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <img src="../../assets/img/logo.jpg" alt="voto_2024" class="img-fluid" style="max-width: 100%;">
      </div>
      <div class="col-md-6 align-self-center">
        <h1 class="text-center mb-4">Registrarse</h1>
        <form  (submit)="onSubmit()" method="post">
            <div class="input-group mb-3">
                <label for="nombre" class="input-group-text"><fa-icon [icon]="faUser"/></label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre" [(ngModel)]="nombre">
            </div>
            <div class="input-group mb-3">
                <label for="cedula" class="input-group-text"><fa-icon [icon]="faIdCard"/></label>
                <input type="text" class="form-control" id="cedula" name="cedula" placeholder="Ingrese su cédula" [(ngModel)]="cedula">
            </div>
            <div class="input-group mb-3">
                <label for="email" class="input-group-text"><fa-icon [icon]="faEmail"/></label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Ingrese su email" [(ngModel)]="email">
            </div>
            <div class="input-group mb-3">
                <label for="telefono" class="input-group-text"><fa-icon [icon]="faPhone"/></label>
                <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Ingrese su teléfono" [(ngModel)]="telefono">
            </div>
            <div class="input-group mb-4">
                <label for="contrasena" class="input-group-text"><fa-icon [icon]="faLock"/></label>
                <input type="password" class="form-control" id="contrasena" name="contrasena"placeholder="Ingrese su contraseña" [(ngModel)]="contrasena">
            </div>  
          <button type="submit" class="btn btn-primary btn-block mb-3">Registrarse</button>
  
          <p class="sin-cuenta">Ya tienes cuenta?<span class="registrate-aqui" routerLink="login"> Ingresa aquí.</span></p>
        </form>
      </div>
    </div>
  </div>